<section class="student" layout="column" layout-align="center center">
  <md-autocomplete
    md-selected-item="selectedItem"
    md-selected-item-change="selectedItemChange(student)"
    md-search-text="searchText"
    md-items="student in getStudent(searchText)"
    md-item-text="student.name"
    placeholder="Search Name/UserID"
    md-no-cache="true">
    <md-item-template>
        <span>{{student.name}}</span>
        <!-- <span md-highlight-text="searchText" md-highlight-flags="^i">{{ticker.exchange}}</span> -->
    </md-item-template>
    <md-not-found>
        No matches found.
    </md-not-found>
  </md-autocomplete>
  <div class="footer" layout="column" layout-align="center center">
    <p>Open source project for fun. Created by Saharan</p>
  </div>
<section>
